server:
  servlet:
    session:
      cookie:
        same-site: strict

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/samah_store
    username: postgres
    password: Ahmad1234
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        default_schema: store
  flyway:
    enabled: false
    baseline-on-migrate: true
    locations: classpath:db/migration
  servlet:
    multipart:
      enabled: true
      max-file-size: 5MB
      max-request-size: 10MB

app:
  jwt:
    secret: "CHANGE_ME_TO_64+_CHARS_RANDOM_SECRET_CHANGE_ME_CHANGE_ME_123456"
    access-minutes: 15
    refresh-days: 14
    issuer: "samah-store"
  upload:
    dir: uploads
    base-url: /uploads

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
